:root {
  --color-white: #fff;
  --color-darkest-gray: #272727;
  --color-dark-gray: #413d3d;
  --color-medium-gray: #7c7c7c;

  --color-dark-slate-blue: #1e3656;
  --color-light-sage: #f1faef;
  --color-faded-red: #e43c4b;
  --color-light-gray: #d8d8d8;
  --color-dull-blue: #487b9b;
}

$screen-large: 68.75em;       // 1100px
$screen-medium: 56.25em;      // 900px
$screen-small: 37.5em;        // 600px
$screen-smallest: 31.25em;    // 500px

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 10 / 16 = .625, for rems

  @media only screen and (max-width: $screen-small) {
    font-size: 50%;
  }

  @media only screen and (max-width: $screen-smallest) {
    font-size: 40%;
  }
}

body {
  font-family: 'Roboto', sans-serif;
}