.header-section {
  height: 80vh;
  background-size: cover;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .15)), url('../img/banner.png');
}

.about-section {
  padding: 5rem;
  border-bottom: .1rem solid var(--color-light-gray);
}

.examples-section {
  height: 50vh;
  background-color: var(--color-light-sage);

  @media only screen and (max-width: $screen-medium) {
    height: 60vh;
  }

  @media only screen and (max-width: $screen-medium) {
    height: 70vh;
  }
}

.travel-section {
  height: 45vh;
  border-bottom: .1rem solid var(--color-light-gray);
  
  @media only screen and (max-width: $screen-medium) {
    height: 100vh;
  }

  @media only screen and (max-width: $screen-small) {
    height: 60vh;
  }
}

.subscribe-section {
  height: 30vh;
}

.auth-section {
  height: 100vh;
  background-image: url(../img/onboarding-bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
}